* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left, #4791e5, #80afe6 )
}

.title {
  font-size: 6vh;
  color: #e3e5e8;
  margin-bottom: 40px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background:#f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #333;
  background: #dbd5d5f5;
  border-radius: 10px;
  
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.cell:hover {
  transform: scale(1.1);
  background: #b5cae5;
}

.cell:active {
  transform: scale(0.9);
}

.message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #fff;
}

#reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #f4f4f4;
  background-color: #2e86eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-button:hover {
  background-color: #4791e5;
}
